@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Lobster', cursive;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.radio-wrap {
  height: 100%;
}

.left {
  position: absolute;
  left: 0;
  width: 100%;
  background: url(./img/emotion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1.5s ease;
}

.right {
  position: absolute;
  left: 50%;
  width: 100%;
  background: url(./img/flash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1.5s ease;
}

button {
  position: absolute;
  background-color: transparent;
  border: 5px solid white;
  color: white;
  width: 310px;
  transform: translateX(-50%);
  font-size: 54px;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lobster', cursive;
}

button:focus {
  outline: none;
}

.btn-right {
  transform: translateX(0);
  border-color: white;
  border-bottom-color: #63cbe8;
  left: 50%;
  top: 75%;
}

.btn-left {
  transform: translateX(0);
  top: 60%;
  left: 65%;
  border-bottom-color: black;
}

.btn-left:active,
.btn-right:active {
  transform: scale(1.02);
}

.outline-right,
.outline-left {
  z-index: -1;
  color: transparent;
}

.outline-right {
  top: calc(75% - 10px);
  left: calc(50% + 165px);
  border-bottom-color: #fbb613;
}

.outline-left {
  top: calc(60% - 10px);
  left: calc(65% + 165px);
  border-bottom-color: #b70100;
}

.container.hover-left .left {
  transform: translateX(-25%);
}

.container.hover-left .right {
  transform: translateX(20%);
}

.container.hover-right .left {
  transform: translateX(-20%);
}

.container.hover-right .right {
  transform: translateX(-40%);
}

@media (max-width: 1024px) {
  .btn-left,
  .btn-right {
    left: 30%;
    font-size: 32px;
    width: 175px;
    border-color: white;
  }

  .btn-right {
    left: 30%;
    top: 85%;
  }

  .outline-right,
  .outline-left {
    display: none;
  }
}
